/* CSS pour la page de détails de l'offre */

.offre-details {
  padding: 50px 0; /* Espacement intérieur */
  background-color: #f8f9fa; /* Couleur de fond */
}

.offre-details-box {
  border: 1px solid #ddd;
  padding: 30px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.offre-details-title {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #333; /* Couleur du titre */
}

.offre-details-description,
.offre-details-location,
.offre-details-date {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #555; /* Couleur du texte */
}

.btn-primary {
  background-color: #dc3545; /* Couleur de fond du bouton */
  border-color: #dc3545; /* Couleur de bordure du bouton */
  color: #fff; /* Couleur du texte du bouton */
}

.btn-primary:hover {
  background-color: #c82333; /* Couleur de fond au survol */
  border-color: #bd2130; /* Couleur de bordure au survol */
}
