.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.subtitle {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.featured-courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formation-box {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  flex-basis: 48%; /* Deux éléments par ligne */
}

.formation-box h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.formation-box p {
  font-size: 1em;
  margin-bottom: 5px;
}

.formation-box button {
  width: 100%;
  font-size: 1em;
  padding: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-info {
  font-size: 1em;
}

.formation-title {
  background-color: #28a745; /* Couleur de fond verte */
  color: white; /* Couleur du texte en blanc */
  padding: 10px 20px; /* Espacement interne pour donner de l'espace autour du texte */
  border-radius: 50px; /* Bords arrondis */
  display: inline-block; /* Pour s'assurer que le titre ne prend que l'espace nécessaire */
  font-size: 1.5em; /* Taille de la police */
  text-align: center; /* Centrer le texte */
  margin-bottom: 20px; /* Espacement en bas */
  text-decoration: none; /* Supprime les soulignements par défaut des liens */
}

.formation-title:hover {
  background-color: #218838; /* Couleur de fond lors du survol */
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  margin-bottom: 20px;
}

.filter-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.filter-select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ced4da;
  font-size: 1rem;
}

.filter-select:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
