<div class="modal-header">
    <h4 class="modal-title">{{ isEditing ? 'Modifier l\'formation' : 'Créer une nouvelle formation' }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="formation.title" name="title">
      </div>
      <div class="form-group">
        <label for="schedule">Date d'expiration</label>
        <input type="date" class="form-control" id="schedule" [(ngModel)]="formation.schedule" name="schedule">
      </div>
      <!-- <div class="form-group">
        <label for="location">Emplacement</label>
        <input type="text" class="form-control" id="location" [(ngModel)]="formation.location" name="location">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" [(ngModel)]="formation.description" name="description"></textarea>
      </div>
      <div class="form-group">
        <label for="expiryDate">Date d'expiration</label>
        <input type="date" class="form-control" id="expiryDate" [(ngModel)]="formation.expiryDate" name="expiryDate">
      </div>
      <div class="form-group">
        <label for="status">Statut</label>
        <input type="text" class="form-control" id="status" [(ngModel)]="formation.status" name="status">
      </div> -->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="onCancel()">Annuler</button>
    <button type="button" class="btn btn-primary" (click)="onSave()">Enregistrer</button>
  </div>
  