<div class="blog-header">
    <h1>Evaluation Formations</h1>
    
                    <button class="btn btn-primary" (click)="openModal(false)">Créer une évaluation pour formation</button>
                
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">SCORE</th>
                                <th scope="col">COMMENTAIRE</th>
                                <th scope="col">ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let evalformation of evalformations">
                                <td>{{ evalformation.score }}</td>
                                <td>{{ evalformation.comments }}</td>
                                <td class="text-right">
                                    <div ngbDropdown placement="bottom-right">
                                        <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" (click)="openModal(true, evalformation)">
                                                <i class="fas fa-edit"></i> MODIFIER
                                            </a>
                                            <a class="dropdown-item" (click)="deleteEvaluation(evalformation.id)">
                                                <i class="fas fa-trash"></i> SUPPRIMER
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
       
    <!-- Modal de confirmation -->
    <ng-template #confirmationModal let-modal>
        <div class="modal-header">
            <h5 class="modal-title">Succès</h5>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Évaluation ajoutée avec succès !</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close()">OK</button>
        </div>
    </ng-template>

