<div class="blog-header">
  <h1>Blog Posts</h1>
  <button (click)="toggleCreateForm()" class="create-button">Create New Blog Post</button>
</div>

<div *ngIf="createFormVisible" class="create-form">
  <form (ngSubmit)="createPost()">
    <div class="form-group">
      <label for="newTitle">Title</label>
      <input type="text" id="newTitle" [(ngModel)]="newPost.title" name="title" required />
    </div>
 <!--  <button type="button" class="rephrase-button" (click)="rephraseContent()">Rephrase Content with AI</button>-->

    <div class="form-group">
      <label for="newContent">Content</label>
      <textarea id="newContent" [(ngModel)]="newPost.content" name="content" required></textarea>
    </div>
    <div class="form-actions">
      <button type="submit" class="submit-button">Create Post</button>
      <button type="button" class="cancel-button" (click)="toggleCreateForm()">❌</button>
    </div>
  </form>
</div>

<div *ngIf="blogPosts?.length > 0; else noPosts" class="blog-container">
  <div class="blog-grid">
    <div *ngFor="let post of blogPosts" class="post-card">
      <div class="post-header">
        <div class="post-header-left">
          <h2 *ngIf="!editFormVisible[post.id]">{{ post.title }}</h2>
          <input *ngIf="editFormVisible[post.id]" type="text" [(ngModel)]="post.title" class="edit-input" />
          <small>By {{ post.user.username }} on {{ post.publishDate | date: 'longDate' }}</small>
        </div>
        <div class="post-header-right post-actions">
          <button *ngIf="!editFormVisible[post.id]  && userIsOwner(post.user.id)"class="" (click)="toggleEditForm(post.id)">✏️</button>
          <button *ngIf="editFormVisible[post.id] && userIsOwner(post.user.id)"  class="save-button" (click)="updatePost(post)">Save</button>
          <button *ngIf="editFormVisible[post.id] && userIsOwner(post.user.id)" class="" (click)="toggleEditForm(post.id)">❌</button>
          <button class=""   *ngIf="userIsOwner(post.user.id)" (click)="deletePost(post.id)">❌</button>
        </div>
      </div>
      <div class="post-content">
        <p *ngIf="!editFormVisible[post.id]">{{ post.content }}</p>
        <textarea *ngIf="editFormVisible[post.id]" [(ngModel)]="post.content" class="edit-textarea"></textarea>
      </div>
      <div class="post-actions">
        <div class="like-dislike-buttons">
          <button class="like-button" (click)="likePost(post)" [disabled]="post.userReact?.type === 'like'">👍 {{ post.likes || 0 }}</button>
          <button class="dislike-button" (click)="dislikePost(post)" [disabled]="post.userReact?.type === 'dislike'">👎 {{ post.dislikes || 0 }}</button>
        </div>
      </div>
      <div class="post-comments">
        <div class="comments-header">
          <h3>Comments</h3>
        </div>
        <div *ngIf="post.commentaires?.length > 0; else noComments">
          <div *ngFor="let comment of post.commentaires" class="comment">
            <div class="comment-header">
              <small>By {{ comment.user.username }} on {{ comment.date | date: 'short' }}</small>
              <div class="post-actions">
                <button class="edit-comment-button"  *ngIf="userIsOwner(post.user.id)" (click)="toggleEditCommentForm(comment.id)">✏️</button>
                <button class="delete-comment-button" *ngIf="userIsOwner(post.user.id)" style="margin-left: 5px !important" (click)="deleteComment(comment.id)">❌</button>
              </div>
            </div>
            <p *ngIf="!editCommentFormVisible[comment.id]">{{ comment.content }}</p>
            <input *ngIf="editCommentFormVisible[comment.id]" type="text" [(ngModel)]="comment.content" class="edit-input" />
            <button *ngIf="editCommentFormVisible[comment.id]" class="save-button"  style="    margin: 10px;
            padding: 10px 20px !important;
            border: none !important;
            border-radius: 30px !important;
            cursor: pointer !important;
            font-size: 16px !important;
            transition: background-color 0.3s ease, transform 0.3s ease !important;
            display: flex !important;
            align-items: center !important;
            gap: 8px !important;
            margin-left: 87%;" (click)="updateComment(comment.id, comment.content)">Save</button>
            
              <!-- Formulaire de sous-commentaire -->
          <button class="post-action" style="padding: 10px 20px !important;
          border: none !important;;
          border-radius: 30px !important;;
          cursor: pointer !important;;
          font-size: 16px !important;;
          transition: background-color 0.3s ease, transform 0.3s ease !important;;
          display: flex !important;;
          align-items: center !important;;
          gap: 8px !important;" (click)="toggleReplyForm(comment.id)">Reply</button>
          <div *ngIf="showReplyForm[comment.id]" class="reply-form">
            <input type="text" style="width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 10px;
            resize: vertical;
            font-size: 16px;
            font-family: 'Arial, sans-serif';
            transition: border-color 0.3s ease;" [(ngModel)]="replyContent[comment.id]" placeholder="Write a reply..." />
            <button class="submit-button post-action" (click)="addReply(comment.id, replyContent[comment.id])">Submit</button>
          </div>
          
          <!-- Afficher les sous-commentaires -->
          <div *ngFor="let reply of comment.replies" class="reply-comment">
            <div class="post-actions">
              <small>By {{ reply.user.username }} on {{ reply.date | date: 'short' }}</small>
            
            </div>
            <p *ngIf="!editCommentFormVisible[reply.id]">{{ reply.content }}</p>
            
          </div>
          </div>
        </div>
        <ng-template #noComments>
          <p>No comments available.</p>
        </ng-template>
        <div>
          <app-comment-form [blogPost]="post" (commentAdded)="onCommentAdded($event)"></app-comment-form>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noPosts>
  <p>No posts available.</p>
</ng-template>
