<nav class="navbar navbar-expand-lg navbar navbar-light right" style="background: linear-gradient(to top, rgb(30,109,140) 0.5%, rgba(48, 49, 68, 1) 100%);">


  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2"   id="navbarSupportedContent" >

    <ul class="navbar-nav ml-auto " >
      <li class="nav-item active pt-3 " >
        <a class="nav-link text-white "   routerLink="/accueil">Accueil</a>
      </li>
      <li class="nav-item pt-3">
        <a class="nav-link  text-white" routerLink="/blog">Blog</a>
      </li>
      <li class="nav-item pt-3">
        <a class="nav-link  text-white" routerLink="/profil">Profil</a>
      </li>
      <li class="nav-item pt-3">
        <a class="nav-link  text-white" routerLink="/evaluationf">Evaluation_Formation</a>
      </li>

   










    </ul>

  </div>
</nav>

<router-outlet></router-outlet>


