<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <!-- Stat Cards -->
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Nombre des offres</h5>
                  <span class="h2 font-weight-bold mb-0">{{ offres.length }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Nouvelles offres</h5>
                  <span class="h2 font-weight-bold mb-0">{{ nouvellesOffres }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Offres expirées</h5>
                  <span class="h2 font-weight-bold mb-0">{{ offresExpirees }}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Gestion des offres</h3>
        </div>
        <div class="card-header border-0">
          <button class="btn btn-primary" (click)="openModal(false)">Créer une offre</button>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">TITRE</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">EMPLACEMENT</th>
                <th scope="col">DATE DE CRÉATION</th>
                <th scope="col">DATE D'EXPIRATION</th>
                <th scope="col">ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let offre of currentPageOffres">
                <td>
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ offre.title }}</span>
                    </div>
                  </div>
                </td>
                <td>{{ offre.description }}</td>
                <td>{{ offre.location }}</td>
                <td>{{ offre.createDate | date:'short' }}</td>
                <td>{{ offre.expiryDate | date:'short' }}</td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
                      <a class="dropdown-item" (click)="openModal(true, offre)">MODIFIER</a>
                      <a class="dropdown-item" (click)="deleteOffre(offre.id)">SUPPRIMER</a>
                    </div>


                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="Pagination">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="changePage(currentPage - 1)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let page of [].constructor(totalPages); let pageIndex = index"
                  [class.active]="pageIndex + 1 === currentPage">
                <a class="page-link" (click)="changePage(pageIndex + 1)">{{ pageIndex + 1 }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage === totalPages">
                <a class="page-link" (click)="changePage(currentPage + 1)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
