<!-- <h1>{{ isEdit ? 'Edit' : 'Create' }} Inscription Formation</h1>
<form (ngSubmit)="onSubmit()">
  <label for="status">Statut</label>
  <input type="text" id="status" [(ngModel)]="inscription.status" name="status" required>

  <label for="registrationDate">Date d'inscription</label>
  <input type="date" class="form-control" id="registrationDate" [(ngModel)]="inscription.registrationDate" name="registrationDate">
  
  <button type="submit">{{ isEdit ? 'Update' : 'Create' }}</button>
</form> -->