<div class="modal-header">
  <h4 class="modal-title">{{ isEditing ? 'Modifier l\'question' : 'Créer une nouvelle question' }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="onCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="content">Content</label>
      <input type="text" class="form-control" id="content" [(ngModel)]="question.content" name="content">
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" class="form-control" id="type" [(ngModel)]="question.type" name="type">
    </div>
    <div class="form-group">
      <label for="quizId">Quiz</label>
      <select class="form-control" id="quizId" required [(ngModel)]="question.quiz" name="quizId">
        <option *ngFor="let quiz of quizzes" [ngValue]="quiz">{{ quiz.title }}</option>
      </select>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="onCancel()">Annuler</button>
  <button type="button" class="btn btn-primary" (click)="onSave()">Enregistrer</button>
</div>
