<div class="container">
  <h2>Project Management</h2>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput #title>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput #description>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <input matInput #category>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Skills Required</mat-label>
    <input matInput #skillsRequired>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Budget</mat-label>
    <input matInput #budget type="number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Deadline</mat-label>
    <input matInput #deadline type="date">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addData({
    title: title.value,
    description: description.value,
    category: category.value,
    skillsRequired: skillsRequired.value,
    budget: +budget.value,
    deadline: deadline.value
  })">Add Project</button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let project"> {{project.id}} </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let project"> {{project.title}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let project"> {{project.description}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let project"> {{project.category}} </td>
    </ng-container>

    <ng-container matColumnDef="skillsRequired">
      <th mat-header-cell *matHeaderCellDef> Skills Required </th>
      <td mat-cell *matCellDef="let project"> {{project.skillsRequired}} </td>
    </ng-container>

    <ng-container matColumnDef="budget">
      <th mat-header-cell *matHeaderCellDef> Budget </th>
      <td mat-cell *matCellDef="let project"> {{project.budget}} </td>
    </ng-container>

    <ng-container matColumnDef="nbPropositions">
      <th mat-header-cell *matHeaderCellDef> Nb Propositions </th>
      <td mat-cell *matCellDef="let project"> {{project.nbPropositions}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let project">
        <button mat-raised-button color="warn" (click)="removeData(project.id)">Remove</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
